{% extends "base.html" %}
{% block content %}

<div class="col-md-1">
</div>

<div class="col-md-11">

    <div class="row">
        <div class="col-xs-12">
            <h3>{{ current_user.first_name }} {{ current_user.last_name }}'s</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Favorite recipes <i class="fa fa-heart-o" aria-hidden="true"></i></h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[0].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[0].id }}">{{ recipes[0].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[0].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[0].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[0].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[0].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[0].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[1].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[1].id }}">{{ recipes[1].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[1].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[1].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[1].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[1].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[1].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[2].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[2].id }}">{{ recipes[2].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[2].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[2].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[2].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[2].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[2].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[3].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[3].id }}">{{ recipes[3].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[3].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[3].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[3].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[3].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[3].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <h4>Recommended recipes</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[0].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[0].id }}">{{ recipes[0].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[0].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[0].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[0].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[0].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[0].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[1].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[1].id }}">{{ recipes[1].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[1].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[1].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[1].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[1].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[1].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[2].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[2].id }}">{{ recipes[2].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[2].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[2].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[2].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[2].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[2].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[3].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[3].id }}">{{ recipes[3].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[3].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[3].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[3].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[3].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[3].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <h4>Most popular recipes <i class="fa fa-users" aria-hidden="true"></i></h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[0].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[0].id }}">{{ recipes[0].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[0].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[0].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[0].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[0].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[0].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[1].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[1].id }}">{{ recipes[1].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[1].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[1].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[1].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[1].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[1].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[2].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[2].id }}">{{ recipes[2].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[2].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[2].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[2].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[2].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[2].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipes[3].img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipes[3].id }}">{{ recipes[3].title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipes[3].vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipes[3].glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipes[3].dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipes[3].fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipes[3].peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>

</div>

{% endblock content %}
