{% extends "base.html" %}
{% block content %}

<div class="col-md-1">
</div>

<div class="col-md-11">

    <div class="row">
        <div class="col-xs-12">
            <h3>{{ current_user.name }}'s</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Recommended recipes</h4>
            {% for recipe_row in recommended_recipes | batch(4) %}
            <div class="row">
                {% for recipe in recipe_row %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipe.img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipe.vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipe.glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipe.dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipe.fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipe.peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <h4>Most popular recipes <i class="fa fa-users" aria-hidden="true"></i></h4>
            {% for recipe_row in popular_recipes | batch(4) %}
            <div class="row">
                {% for recipe in recipe_row %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipe.img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipe.vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipe.glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipe.dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipe.fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipe.peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>

    <hr>

    {% if favorite_recipes %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Favorite recipes <i class="fa fa-heart-o" aria-hidden="true"></i></h4>
            {% for recipe_row in favorite_recipes | batch(4) %}
            <div class="row">
                {% for recipe in recipe_row %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ recipe.img  }}" alt="...">
                        <div class="caption">
                            <p><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></p>
                            <div class="recipe_characteristics">
                                {% if recipe.vegetarian %}
                                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
                                {% endif %}<br>

                                {% if recipe.glutenFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Gluten
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
                                {% endif %}<br>

                                {% if recipe.dairyFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Dairy
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
                                {% endif %}<br>

                                {% if recipe.fatFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Fat
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Fat
                                {% endif %}<br>

                                {% if recipe.peanutFree %}
                                <i class="fa fa-check" aria-hidden="true"></i> Peanut
                                {% else %}
                                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
                                {% endif %}<br>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}
