{% extends "base.html" %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-10">
{% for recipe in recipes %}
  <div class="row">

      <div class="col-md-4 img_box">
          <div class="recipe_img thumbnail">
              <img src="{{ recipe.img }}">
          </div>
      </div>

      <div class="col-md-8">
          <div class="recipe_title">
              <h4>{{ recipe.title }}</h4>
          </div>

          <div class="recipe_characteristics">
              {% if recipe.vegetarian %}
                <i class="fa fa-check" aria-hidden="true"></i> Vegetarian
              {% else %}
                <i class="fa fa-ban" aria-hidden="true"></i> Vegetarian
              {% endif %}

              {% if recipe.glutenFree %}
                <i class="fa fa-check" aria-hidden="true"></i> Gluten
              {% else %}
                <i class="fa fa-ban" aria-hidden="true"></i> Gluten
              {% endif %}

              {% if recipe.dairyFree %}
                <i class="fa fa-check" aria-hidden="true"></i> Dairy
              {% else %}
                <i class="fa fa-ban" aria-hidden="true"></i> Dairy
              {% endif %}

              {% if recipe.fatFree %}
                <i class="fa fa-check" aria-hidden="true"></i> Fat
              {% else %}
                <i class="fa fa-ban" aria-hidden="true"></i> Fat
              {% endif %}

              {% if recipe.peanutFree %}
                <i class="fa fa-check" aria-hidden="true"></i> Peanut
              {% else %}
                <i class="fa fa-ban" aria-hidden="true"></i> Peanut
              {% endif %}
          </div>

          <br>

          <div class="recipe_ingredients">
            <p>Ingredients</p>
            {% for ingredient in recipe.ingredients %}
                <i class="fa fa-cutlery" aria-hidden="true"></i> {{ ingredient.text }}
                <br>
            {% endfor %}
          </div>

          <br>

          <div class="recipe_instructions">
              {% if recipe.instructions != None %}
                {{ recipe.instructions }}
              {% endif %}
          </div>
      </div>

  </div>
  <hr>
{% endfor %}

</div>

{% endblock content %}
