{% extends "base.html" %}
{% block content %}

<style>

.btn-facebook, .btn-facebook:hover {
  text-align:center;
  font-family: 'Lucida Grande';
  width:70%;
  margin-left:10%;
}

.main {
    margin-left: 7%;
}

</style>

<div class="col-md-3">
</div>

<div class="col-md-5 main">
  <img src="{{ url_for('static', filename='images/demeter.png') }}">

  <div id="facebook-login-btn">
   <a href="/login" class="btn btn-block btn-social btn-facebook btn-lg">
    <i class="fa fa-facebook"></i> Log in in with Facebook
   </a>
  </div>
</div>

<div class="col-md-4">
</div>

{% endblock content %}
