{% extends "base.html" %}
{% block content %}

<div class="col-md-2">
</div>

<div class="col-md-7" ng-controller="ProfileCtrl" ng-init="init('{{ current_user.id }}')">

    <h4>{{ current_user.name }}'s Profile</h4>

    <div class="row">
        <form name="profileForm" novalidate>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Age</label>
                    <select class="form-control" name="age" ng-model="age" ng-options="age for age in ages">
                    </select>
                </div>
            </div>

            <div class="col-xs-6">
                <label>Gender</label>
                <select class="form-control" name="gender" ng-model="gender" ng-options="gender for gender in genders" required>
                </select>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <label>Preferred Ingredients</label>
                <oi-select
                oi-options="item for item in ingredients"
                ng-model="ingredientsSelected"
                multiple
                placeholder="Select"
                ></oi-select>
            </div>

            <br>

            <div class="col-xs-12">
                <label>Ingredients Restrictions</label>
                <oi-select
                oi-options="item for item in ingredients"
                ng-model="restrictionsSelected"
                multiple
                placeholder="Select"
                ></oi-select>
            </div>

            <br>

            <div class="col-xs-12">
                <label>Diet Labels</label>
                <oi-select
                oi-options="item for item in labels"
                ng-model="labelsSelected"
                multiple
                placeholder="Select"
                ></oi-select>
            </div>

            <br>

            <div class="col-xs-12">
                <div ng-show="userLocation == null">
                    <google-places location=location></google-places>
                </div>
                <div ng-hide="userLocation == null">
                    <label>Location</label>
                    <p>{[userLocation]}</p>
                    <a ng-click="changeLocation()"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
                </div>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12">
                <button ng-click="register()" class="form-control btn btn-primary">Save</button>
            </div>
        </div>

    </form>
</div>

<div class="col-md-3">
</div>

{% endblock content %}
