{% extends "base.html" %}
{% block content %}

<style>
.col-md-6 {
    padding: 2%;
}

</style>

<div class="col-md-1">
</div>

<div class="col-md-11">

    <div class="row">
        <div class="col-xs-12">
            <div class="row">

                <div class="col-md-6">
                    <img class="img-circle" src="https://graph.facebook.com/10154044941523526/picture">
                    <h4>Larissa Leite</h4>

                    <p>RATED RECIPES</p>
                    <p>Bacon Vinaigrette</p>
                    <p>Pork & Apples with Apple-Brandy-Sage Cream Sauce</p>
                    <p>Roasted Cabbage With Bacon</p>
                    <p>Goat-Cheese Panna Cotta With Bacon Syrup and Cashews</p>
                    <p>Braised Brussels Sprouts With Bacon Recipe</p>

                    <hr>

                    <p>UNRATED</p>
                    <p>['11', '1', '8', '13', '30', '21', '7', '17', '16']</p>
                    <p>##### BEFORE FILTERING #####</p>
                    <p>[21, 16, 11, 13, 8, 7, 1, 17, 30]</p>
                    <p>##### AFTER FILTERING #####</p>
                    <p>[21, 13, 8, 7, 1, 17, 30]</p>
                    <p>#### BOOSTING #####</p>
                    <p>[21, 13, 8, 7, 1, 17, 30]</p>

                    <br>

                    <p>Recommended:</p>

                    <p>(1) Picking apples for a free-form apple tart</p>
                    <p>(2) Apple Pate De Fruit</p>
                    <p>(3) Apple & Horseradish Chutney Recipe</p>
                    <p>(4) Bacon, Ramps ‘N Nuts</p>
                    <p>(5) Creamed Onions With Bacon And Chives</p>
                    <p>(6) Sticky Apple, Sausage & Bacon</p>
                    <p>(7) Ruhlman's Beans & Bacon</p>
                </div>

                <div class="col-md-6">
                    <img class="img-circle" src="https://graph.facebook.com/1404346226257056/picture">
                    <h4>Gledys A. Sulbaran</h4>

                    <p>RATED RECIPES</p>
                    <p>Pasta With Bacon And Onions</p>
                    <p>Apple & Horseradish Chutney Recipe</p>
                    <p>Apple Pate De Fruit</p>
                    <p>Kale with Bacon</p>
                    <p>Sticky Apple, Sausage & Bacon</p>

                    <hr>

                    <p>UNRATED</p>
                    <p>['24', '1', '25', '13', '2', '30', '15', '29', '17']</p>
                    <p>##### BEFORE FILTERING #####</p>
                    <p>[30, 29, 17, 25, 24, 13, 15, 2, 1]</p>
                    <p>##### AFTER FILTERING #####</p>
                    <p>[30, 29, 17, 25, 24, 15, 2, 1]</p>
                    <p>#### BOOSTING #####</p>
                    <p>Preferred ingredient [cashews] in recipe [24]</p>
                    <p>[24, 1, 2, 15, 17, 25, 29, 30]</p>

                    <br>

                    <p>Recommended:</p>

                    <p>(1) Picking apples for a free-form apple tart</p>
                    <p>(2) Pork & Apples with Apple-Brandy-Sage Cream Sauce</p>
                    <p>(3) Bacon Vinaigrette</p>
                    <p>(4) Creamed Onions With Bacon And Chives</p>
                    <p>(5) Goat-Cheese Panna Cotta With Bacon Syrup and Cashews</p>
                    <p>(6) Roasted Cabbage With Bacon</p>
                    <p>(7) Braised Brussels Sprouts With Bacon Recipe</p>
                    <p>(8) Ruhlman's Beans & Bacon</p>
                </div>

            </div>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">

                <div class="col-md-6">
                    <img class="img-circle" src="https://graph.facebook.com/2123061944585055/picture">
                    <h4>Carrie Beckett</h4>

                    <p>RATED RECIPES</p>
                    <p>Ruhlman's Beans & Bacon</p>
                    <p>Apple Pate De Fruit</p>
                    <p>Creamed Onions With Bacon And Chives</p>
                    <p>Pork & Apples with Apple-Brandy-Sage Cream Sauce</p>
                    <p>Bacon, Ramps ‘N Nuts</p>

                    <hr>

                    <p>UNRATED</p>
                    <p>['24', '11', '1', '15', '25', '8', '21', '29', '16']</p>
                    <p>##### BEFORE FILTERING #####</p>
                    <p>[29, 25, 24, 16, 15, 1, 8, 11, 21]</p>
                    <p>##### AFTER FILTERING #####</p>
                    <p>[29, 25, 24, 15, 1, 8, 11, 21]</p>
                    <p>#### BOOSTING #####</p>
                    <p>[29, 25, 24, 15, 1, 8, 11, 21]</p>

                    <br>

                    <p>Recommended:</p>

                    <p>(1) Picking apples for a free-form apple tart</p>
                    <p>(2) Apple & Horseradish Chutney Recipe</p>
                    <p>(3) Kale with Bacon</p>
                    <p>(4) Bacon Vinaigrette</p>
                    <p>(5) Sticky Apple, Sausage & Bacon</p>
                    <p>(6) Goat-Cheese Panna Cotta With Bacon Syrup and Cashews</p>
                    <p>(7) Roasted Cabbage With Bacon</p>
                    <p>(8) Braised Brussels Sprouts With Bacon Recipe</p>
                </div>

                <div class="col-md-6">
                    <img class="img-circle" src="https://graph.facebook.com/10157677647395023/picture">
                    <h4>Ward Taye</h4>

                    <p>RATED RECIPES</p>
                    <p>Bacon, Ramps ‘N Nuts</p>
                    <p>Picking apples for a free-form apple tart</p>
                    <p>Pork & Apples with Apple-Brandy-Sage Cream Sauce</p>
                    <p>Pasta With Bacon And Onions</p>

                    <hr>

                    <p>UNRATED</p>
                    <p>['24', '11', '25', '8', '30', '15', '29', '21', '7', '17']</p>
                    <p>##### BEFORE FILTERING #####</p>
                    <p>[30, 21, 17, 7, 11, 8, 15, 24, 25, 29]</p>
                    <p>##### AFTER FILTERING #####</p>
                    <p>[30, 21, 17, 7, 11, 8, 15, 24, 25, 29]</p>
                    <p>#### BOOSTING #####</p>
                    <p>Preferred ingredient [pearl onions] in recipe [17]</p>
                    <p>Preferred ingredient [kale] in recipe [11]</p>
                    <p>[11, 17, 7, 8, 15, 21, 25, 29, 30]</p>

                    <br>

                    <p>Recommended:</p>

                    <p>(1) Apple Pate De Fruit</p>
                    <p>(2) Apple & Horseradish Chutney Recipe</p>
                    <p>(3) Kale with Bacon</p>
                    <p>(4) Bacon Vinaigrette</p>
                    <p>(5) Creamed Onions With Bacon And Chives</p>
                    <p>(6) Sticky Apple, Sausage & Bacon</p>
                    <p>(7) Roasted Cabbage With Bacon</p>
                    <p>(8) Braised Brussels Sprouts With Bacon Recipe</p>
                    <p>(9) Ruhlman's Beans & Bacon</p>
                </div>

            </div>

        </div>
    </div>

</div>

{% endblock content %}
